.den {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #000;
}
.vang {
    width: 100%;
    height: 50px;
    float: left;
    background-color:yellow;
}
.do {
    width: 100%;
    height: 50px;
    float: left;
    background-color:red;
}
.blue {
    width: 100%;
    height: 50px;
    float: left;
    background-color:blue;
}
.green {
    width: 100%;
    height: 50px;
    float: left;
    background-color:green;
}
.btn {
    color: #fff;
    width: 100px;
    height: 100px;
}
.btn.btn-black {
    background: #000;
    border-color: #000;
}
.btn.btn-black:hover {
    color: #fff;
}
.btn.btn-red {
    background: red;
    border-color: red;
}
.btn.btn-silver {
    color: #000;
    background: silver;
    border-color: silver;
}
body {overflow: hidden;}